[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {version = "==0.20.0", extras = ["starndard"]}
fastapi = "==0.89.1"
pyyaml = "*"
motor = "*"
redis = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
fastapi-mail = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"

[scripts]
dev = "uvicorn api.main:app --reload --host 0.0.0.0 --port 8080"
